body{
    margin: 0;
}

.container{
    margin: 0 auto;
    width: 1200px;
}

.main-header{
    background-color: rgb(117, 168, 255);
    background-image: url('../img/pattern.png');
    background-size: 550px;
    height: 150px;
    line-height: 100px;
    position: relative;
}

#logo{
    position: absolute;
    left: 5px;
    bottom: 10px;
    width: 300px;
}

.article-title{
    font-size: 60px;
    margin-bottom: 0;
}

a, a:visited{
    text-decoration: none;
    color: lightskyblue;
}

address{
    font-style: normal;
}

.gray{
    color: rgb(148, 147, 147);
    margin-top: 10px;
}

.small{
    font-size: 13px;
}

figure{
    margin: 0;
    margin-top: 20px;
}

ul{
    padding: 0;
    list-style-position: inside;
}

.table-heading{
    background-color: rgb(5, 142, 227);
    color: white;
}

.w-50{
    width: 50%;
}

.table-row{
    background-color: rgb(157, 222, 255);
}

.table-row.white{
    background-color: white;
}

.article-table{
    text-align: left;
    border-collapse: collapse;
}

.sfondo-1{
    color: white;
    background-image: url('../img/monitor.jpg');
    background-repeat: no-repeat;
}

.sfondo-2{
    color: white;
    background-image: url('../img/graph.jpg');
    background-repeat: no-repeat;
}